        <!-- Sidebar -->
        <aside class="w-64 bg-white shadow-lg h-screen overflow-y-auto hidden md:block">
            <div class="px-4 py-6">
                <a href="/" > <h1 class="text-2xl font-bold text-emerald-600">ArticleSpace</h1> </a>
                <p class="text-sm text-gray-600 mt-2">Tableau de bord administrateur</p>
            </div>
            <nav class="mt-6">
                <ul>
                    <li class="mb-2">
                        <a href="/admin/dashboard" class="block px-4 py-2 text-gray-900 hover:bg-emerald-100">
                            <i class="ri-dashboard-line mr-2"></i> Tableau de bord
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="/admin/users" class="block px-4 py-2 text-gray-900 hover:bg-emerald-100">
                            <i class="ri-group-line mr-2"></i> Utilisateurs
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="/admin/articles" class="block px-4 py-2 text-gray-900 hover:bg-emerald-100">
                            <i class="ri-book-mark-line mr-2"></i> Articles
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
